
.navContainer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #461d1d;
}
.logo {
    width: 30%;
    object-fit: contain;
    margin-left: 50px;
}
.links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.link {
    display: inline-block;
    position: relative;
    margin-right: 4vw;
    transition: text-shadow 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #e0e0e0;
    bottom: -3px;
    left: 50%;
    transition: all 0.3s ease;
  }
  

.link:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: larger;
    color: #fff;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.link.active {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: larger;
    color: #fff;
}

.link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e0e0e0;
    bottom: -3px;
    left: 0;
    transition: all 0.3s ease-in-out;
}
