.container {
    height: 50px;
    font-size: x-small;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    opacity: 0.8;
    cursor: pointer;
}